.home{
  display: flex;
}
.leftBg{
  background: url("assets/img/bg.png");
  background-size: cover;
  height: 100vh;
  flex-basis: 35%;
}

.leftBg .card{
  height: 94%;
  top: 3%;
}

.rightNav{
  flex-basis: 65%;
}

.leftBg .card{
  text-align: center;
  padding: 20px;
}

.rightNav .card{
  flex-basis: 65%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.rightNav .img{
  margin-bottom: 60px;
}

.abs-center h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 10px 30px;
  border: none;
  outline: none;
  background: #37bf68;
  -webkit-appearance: none;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 20px;
  transition: .5s;
  top: 0;
  box-shadow: 0px 0px 0px 0px grey;
}

.appear-enter {
  transform: scaleX(0);
  opacity: 0;
}

.appear-enter-active {
  transform-origin: top left;
  transition: all .5s ease;
}

.appear-leave {
}

.appear-leave-active {
  transform-origin: top left;
  transform: scaleX(0);
  opacity: 0;
  transition: all .5s ease-in-out;
}
.btn.send{
  margin-right: 20px;
  padding-right: 80px;
}

.btn.deliver{
  background: #ff6a00;
  padding-right: 80px;
  transition: .5s;
  top: 0;
}

.btn.deliver:hover{
  background: #f56600;
}

.btn:hover{
  top: -2px;
  box-shadow: 0px 10px 20px -5px grey;
}

.btn.deliver:hover:before, .btn.send:hover:before{
  right: 20px;
}

.btn.deliver:before, .btn.send:before{
  content: '\27A4';
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  right: 30px;
  transition: .5s;
}

.btn.deliver, .btn.send{
  flex-basis: 60%;
}